::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
  height: 7px;
}

/* Track (the area where the scrollbar is located) */
::-webkit-scrollbar-track {
  background-color: rgb(0, 0, 0, 0.1); /* Background color of the track */
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0, 0.1); /* Color of the scrollbar handle */
  border-radius: 6px; /* Rounded corners of the handle */
}

/* On hover, make the scrollbar handle darker */
::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 0, 0, 0.2);
}
